body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  grid-gap: 40px;
}

.profile-list {
  display: flex;
  grid-gap: 40px;
}

.traffic-signs {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
}

.traffic-sign {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.flex {
  display: flex;
  grid-gap: 1rem;
}

.moves {
  max-width: 300px;
}

.move {
  padding: 5px 10px;
  background: #999;
  color: black;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}